/* statg begin */
.stage{
  width: 100%;
  height: 100%;
}
/* image begin */
.img-sec{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #dddddd;
}
/* image end */

/* controller begin */
.controller-nav{
  position: absolute;
  left: 0;
  bottom: 0;
  padding-bottom: 30px;
  z-index: 101;
  text-align: center;
}
/* controller end */

/* statg end */